{erl_opts, [
    debug_info,

    {parse_transform, lager_transform},

    warn_format,
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,

    {i, "deps/"},
    {i, "../"}
]}.

{deps_dir, ["./deps"]}.

{deps, [
   {lager, "1.2.1",
      {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
   {reloader, "0.1",
      {git, "http://github.com/bjnortier/reloader.git", "master"}},
   {cowboy, ".*",
      {git, "git://github.com/extend/cowboy.git", "master"}},
   {mimetypes, ".*",
      {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
   {jiffy, ".*",
      {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
